<!DOCTYPE html>
<html>
<head>
	<title>绑定</title>
	<style type="text/css">
		.ch1{
			font-size: 5rem;
			font-family: Microsoft YaHei;
			text-align: center;
			margin-top: 12rem;
		}
		.ch2{
			font-size: 4rem;
			margin-top: 1rem;
		}
		.ch3{
			margin-top: 0rem;
			color:#4F94CD;
		}
		.ch4{
			font-size:2.5rem;
			color:#E3170D;	
		}
	</style>
</head>
<body>
	<div class="ch1">绑定成功</div>
	<div class=" ch1 ch2 ">请在公众号对话框输入</div>
	<div class="ch1 ch3">“成绩”</div>
	<div class=" ch1 ch2">即可查询</div>
	<div class="ch1 ch4">(绑定后其它微信号将无法绑定该学号)</div>
</body>
</html>